<div class="main-container">
    <button class="btn btn-success" (click)="login()"> login with google </button>
    <button class="btn btn-warning" (click)="logout()"> logout </button>
</div>



<div class="container-fluid" *ngIf="isLogin">

    <h5>Type Info</h5>
    <h6> type A -> must do today </h6>
    <h6> type B -> after finishing type a</h6>
    <h6> type C -> do not have to do it today</h6>

  <div class="row">
    <div>
        <new-memo></new-memo>
    </div>

    <hr color="skyblue" width="100%" />

    <div class="show-memo">
        <show-memo></show-memo>
    </div>
  </div>
</div>
