<h1>{{title}}</h1>
<nav>
  <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
  <a routerLink="/heroes1" routerLinkActive="active">Heroes1</a>
  <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
  <a routerLink="/post" routerLinkActive="active">Post</a>
  <a routerLink="/post1" routerLinkActive="active">Post1</a>
  <a routerLink="/item" routerLinkActive="active">Item</a>
  <a routerLink="/item2" routerLinkActive="active">Item2</a>
  <a routerLink="/message" routerLinkActive="active">message</a>
  <!--  <a routerLink="/memo" routerLinkActive="active">memo</a>-->
  <a routerLink="/jqueryDemo" routerLinkActive="active">jqueryDemo</a>
  <!-- <a routerLink="/transCludeDemo" routerLinkActive="active">transCludeDemo</a> -->
  <a routerLink="/card" routerLinkActive="active">card</a>


</nav>
<router-outlet></router-outlet>
<br/><br/><br/><br/>
